<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/punto2.css">
    <title>Punto 2 plantilla informativa</title>
</head>
<body>
  <header>
    <h1>PLANTILLA INFORMATIVA CON AREAS</h1>
  </header>

  <aside class="menu-lateral">
    <nav>
        <ul>
            <li>
              <a href="#" src>Noticias en vivo</a>
            </li>
            <li>
              <a href="#" src>Noticias en desarollo</a>
           </li>
        </ul>
    </nav>
  </aside>

  <main>
    <h2>Contenido Principal</h2>
    <p>Area de desarrollo del proyecto</p>
      <p>Area de aprendizaje</p>
  </main>

  <aside class="barra-noticias">
    <h3>Noticias</h3>
    <p>Breve sección informativa</p>
  </aside>

  <footer>
    <p>Pie de pagina - 2026</p>
  </footer>
    
</body>
</html>