.contenedor{
    display: grid;
     /*grid-template-columns: 120px 120px 120px;*/
    /*grid-template-rows: 100px 100px;*/
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 80px 200px ;
    margin: 40px;
}

.item{
    background-color: lightseagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
}