:root{
  --color-principal:#64a1df;
  --color-secundario:#96b0d6;
  --color-fondo: #d1e1f8 ;
  --negative-text-color: white;
  --positive-text-color: rgb(0, 0, 0);
  --dark-aditional-color: #2c3e50;
  --semi-transparente:rgba(255, 255, 255, 0.7);
  --tamano-gap:
}